@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
font-family: "Space Grotesk", sans-serif;
}

.main_container{
    width: 375px;
    margin: auto;
  
}
.fondoatras{ 
    background-image: url(./bg-main-mobile.png);
    background-repeat: no-repeat;
    height: 240px;
    position: relative;
}

.formulario_section{
padding: 90px 24px 45px;
}

.tarjeta{
    width: 288px;
    height: 160px;
    padding: 20px;
    color: white;
    background-image: url(./bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 126px;
    left: 18px;
    z-index: 1;
    letter-spacing: 2px;
    }
    .logo_tarjeta{
        width: 55px;
        margin-bottom: 30px;
}
.numero_tarjeta{
    margin-bottom: 15px;
}
.detalle_tarjeta{
    display: flex;
    font-size: 0.6rem;
    justify-content: space-between;
    text-transform: uppercase;
    
}
 .tarjeta_atras{
    width: 288px;
    height: 160px;
    padding: 20px;
    color: white;
    background-image: url(./bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 75px;
    letter-spacing: 2px;
    }
    .tarjeta_atras_cvc{
    font-size: 0.7em;
    margin-top: 50px;
    text-align: right;
    padding-right: 10px;
    }


 .form_label{
    text-transform: uppercase;
    font-size: 0.65em;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 8px;
    color: hsl(278, 68%, 11%);
    font-weight: bold;
 }
  
 .form_input{
    width: 100%;
    height: 40px;
    margin-bottom: 18px;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    border: 1px solid hsl(270, 3%, 87%);
    padding-left: 10px;
    font-size: 1em;
    outline: none;
    
 }
 .form_fecha-cvc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 16px;
 }

 .form_fecha{
    display: flex;
    gap: 10px;
 }

 .form_submit{
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
}
 
 .error{
    color: red;
    margin: -10px 0 18px;
    font-size: 0.6em;
 }

 .form_error_container{
    display: flex;
  gap: 5px;
 }

 .form_input_mm_error{
    width: 100px;
    text-align: center;
 }

 .form_input_yy_error{
    width: 100px;
    text-align: center;
 }
 .form_input_cvc_error{
    width: 100px;
    text-align: center;
 }

 .thanks{
    display: none;
    width: 375px;
    margin: auto;
    margin-bottom: 60px;
 }
 .thanks_img{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.thanks_titulo{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    color: hsl(278, 68%, 11%);
    margin-bottom: 24px;
}

.thanks_texto{
    text-align: center;
    color: hsl(279, 6%, 55%);
    font-size: 1.1em;
    margin-bottom: 24px;
}

.thanks_button{
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
}

@media (min-width:1440px){
    .main_container{
    width: 1440px;
    display: flex;
}
    .fondoatras{
        width: 1440px;
        display: flex;
        background-image: url(./bg-main-desktop.png);
        width: 900px;
        height: 900px;
    }
    .tarjeta{
    width: 450px;
    height: 247px;
    padding: 30px;
    top: 100px;
    left: 160px;
}
    .tarjeta_atras{
        width: 450px;
        height: 247px;
        padding: 30px;
        top: 400px;
        left: 250px;
}
    .logo_tarjeta{
        width: 86px;
        margin-bottom: 55px;
}
    .numero_tarjeta{
        font-size: 1.6em;
        margin-bottom: 25px;
    }
    .detalle_tarjeta{
        font-size: 0.8em;
    }
    .tarjeta_atras_cvc{
        font-size: 1em;
        margin-top: 80px;
        padding-right: 30px;
    }
    .form{
        margin-top: 180px;
        width: 385px;
    }
     .form_input{
        margin-bottom: 40px;
     }
     .thanks{
        margin-top: 180px;

     }}